<html>
  <head>
    <title>Book Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="C:\Users\user\Desktop\pain\mysite\static\css\card.css" rel="stylesheet" type="text/css">
  </head>

  
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Новости <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'get_all_books' %}">Каталог</a>
        </li>
      </ul>
          <div class="text-end" style="text-align: right">
            <div class="nav-item dropdown d-flex justify-content-between ">
              <a href="{% url 'profile' %}" class="nav-link dropdown-toggle btn btn-outline-light me-2" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'cart' %}">Корзина</a>
                <a class="dropdown-item" href="{%url 'favorite'%}">Избранное</a>
                <a class="dropdown-item" href="{% url 'purchase' %}">Заказ</a>
              </div>
            </siv>
            {% if user.is_authenticated %}
              {% comment %} <p class="text-light" >Вы вошли в систему как {{ user.username }}.</p> {% endcomment %}
              <a type="button" href="{% url 'logout' %}" class="btn btn-outline-light me-2">Выйти</a>
              {% else %}
              {% comment %} <p class="text-light">Вы не вошли в систему.</p> {% endcomment %}
              <a type="button" href="{% url 'custom_login' %}" class="btn btn-outline-light me-2">Войти</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <div class='container'>
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
