{%extends 'layout.html'%}
{% load widget_tweaks %}

{% block content %}
<div class="col-8">
    <div class="row">
        {% for book in books %}
                <div class="col-12 col-sm-6 col-md-4 my-2 card" >
                    <div class="">
                        <img class="card-img-top img-fluid w-75 align-self-center m-3" src="/myapp{{book.image.url}}" alt="Card image cap">
                        <div class="card-title">
                            <h5 class="card-title" style="text-align:center"; >{{book.name}}</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-beetwen">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{book.author}}</li>
                                    <li class="list-group-item">{{book.press}}</li>
                                    <li class="list-group-item" id="price{{book.id}}">{{book.price}}</li>
                                </ul>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="" style="padding: 1.25rem 1.25rem; padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem;">
                                    <a id='' class='cart' data-book="{{book.id}}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Вы добавили книгу в корзину</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            Вы уверены, что хотите добавить именно эту книгу?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                            {% if user.is_authenticated %}
                                                <a role="button" class="addToCart btn btn-primary" data-book="{{book.id}}" href="/myapp/cart/add/{{book.id}}">Добавить</a>
                                            {% else %}
                                                <a role="button" class="login btn btn-primary" href="/myapp/login/">Добавить</a>
                                            {% endif %}
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Это модалка при успешном добавлении в корзину -->
                                    <div class="modal fade" id="cartSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Вы добавили книгу в корзину</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                Вы добавили книгу в корзину!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="padding: 1.25rem 1.25rem; padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem;">
                                    <a id='' class="favorite" data-book="{{book.id}}">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <!-- Modal -->
                                        <div class="modal fade" id="addToFavModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Вы добавили книгу в избранное</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                Вы уверены, что хотите добавить именно эту книгу?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                {% if user.is_authenticated %}
                                                    <a type="button" class="btn btn-primary addToFav" id="" href="/myapp/books/favourite/add/{{book.id}}" >Добавить</a>
                                                {% else %}
                                                    <a type="button" class="btn btn-primary login" id="" href="/myapp/login/" >Добавить</a>
                                                {% endif %}
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                    <!--При успешном добавлении-->
                                        <div class="modal fade" id="favSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Вы добавили книгу в избранное</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы добавили книгу в избранное!
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% csrf_token %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    <script src="/static/js/main.js"></script>
    <script src="/static/js/favorite.js"></script>
</body>
{%endblock%}